name: Compile and Test

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  compile-and-test:
    runs-on: ubuntu-latest

    permissions: {}

    steps:
      - uses: actions/checkout@v6.0.0

      - name: Set up JDK 21
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.m2
          key: maven-${{ hashFiles('**/pom.xml') }}

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
