name: Sonar

on:
  push:
    branches: [ develop ]

jobs:
  sonar:
    runs-on: ubuntu-latest

    permissions: {}

    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.m2
          key: maven-${{ hashFiles('**/pom.xml') }}

      - name: Build with Sonar
        env:
          SONAR_URI: ${{ vars.SONAR_URI }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn --batch-mode --update-snapshots verify sonar:sonar -Dsonar.host.url=$SONAR_URI
